<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Criar Orcamento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <c:url var="findEmpresassURL" value="/orcamentos/empresas" />
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/empresas}">Empresas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/orcamentos}">Orçamentos</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container my-3">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 container justify-content-center card">
                <h1 class="text-center"> Atualizar Orçamento </h1>
                <div class="card-body">
                    <form class="row needs-validation" th:action="@{/orcamentos/{id} (id=orcamento.id)}" th:object="${orcamento}" method="POST"
                        novalidate>
                        <div class="col-md-4 mb-3">
                            <label> Numero : <span th:text="${numero}"></span></label>
                            <input type="text" th:name="numero" class="form-control" style="visibility: hidden;" th:value="${numero}" />
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Empresa</label>
                            <select class="form-select" id="empresaId" name="empresaId" th:field="*{empresaId}" required>

                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Contato</label>
                            <select class="form-select" id="contatoId" name="contatoId" th:field="*{contatoId}" required>
                                <option selected disabled value="">Escolha...</option>
                            </select>
                        </div>

                        <div class="col-md-12 mb-3">
                            <label> Observacao </label>
                            <input type="text" name="observacao" th:field="*{observacao}" class="form-control"
                                placeholder="Observacao" />
                        </div>

                        <div class="col-md-4 mb-3 mx-auto">
                            <button class="btn btn-primary" type="submit">Salvar</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <script>
        window.onload = function () {


            var url = "http://" + window.location.host + "/orcamentos/empresas"
            fetch(url)
                .then((data) => data.json())
                .then(function (data) {
                    var select = document.getElementById("empresaId");

                    var text = '<option selected disabled value="">Escolha...</option>'
                    for (let index = 0; index < data.length; index++) {
                        text += '<option value="' + data[index].id + '">'
                            + data[index].nome + '</option>';

                    }
                    select.innerHTML = text;
                });


        };
        document.getElementById("empresaId").addEventListener("change", function () {
            var id = document.getElementById("empresaId").value;

            var url = "http://" + window.location.host + "/orcamentos/contatos/" + id
            fetch(url)
                .then((data) => data.json())
                .then(function (data) {
                    var select = document.getElementById("contatoId");

                    var text = '<option selected disabled value="">Escolha...</option>'
                    for (let index = 0; index < data.length; index++) {
                        text += '<option value="' + data[index].id + '">'
                            + data[index].nome + '</option>';

                    }

                    select.innerHTML = text;
                });


        });


    </script>


    <script>
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>